/* =====================================================
  MODERN RESET / BASE
===================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  font-family: var(--font-base);
  line-height: var(--line-height-base);
  color: var(--clr-text);
  background-color: var(--clr-bg);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img,
video,
svg {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

figure {
  margin: 0;
}
/* =====================================================
  TYPOGRAPHY
===================================================== */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 300;
  color: var(--clr-secondary);
  margin: 0;
}
p {
  margin: 0;
}
.display-xl {
  font-size: clamp(2.5rem, 3.7594vw + 1.6189rem, 5rem);
  line-height: 1.2;
  letter-spacing: 0.00625em;
}
.display-lg {
  font-size: clamp(2.5rem, 3.0075vw + 1.7951rem, 4.5rem);
  line-height: 1.11;

  @media (width < 480px) {
    line-height: 1.2;
    letter-spacing: 0.0125em;
  }
}
.text-xl {
  font-size: clamp(1rem, .7519vw + .8238rem, 1.5rem);
  line-height: 1.5;
}
.text-lg {
  font-size: clamp(1rem, .188vw + .9559rem, 1.125rem);
  line-height: 1.5;
}
.text-md {
  font-size: clamp(.875rem, .188vw + .8309rem, 1rem);
  line-height: 1.5;
}
.text-sm {
  font-size: clamp(.75rem, .188vw + .7059rem, .875rem);
  line-height: 1.5;
}
.heading-h2 {
  font-size: clamp(1.75rem, 1.1278vw + 1.4857rem, 2.5rem);
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.title-xl {
  font-size: clamp(2rem, 1.5038vw + 1.6476rem, 3rem);
  line-height: 1.16;
  letter-spacing: 0.016666666666666666em;
}
.title-md {
  font-size: clamp(1.25rem, .7519vw + 1.0738rem, 1.75rem);
  line-height: 1.16;
}
.heading-h3 {
  font-size: clamp(1.5rem, .7519vw + 1.3238rem, 2rem);
  line-height: 1.3;
  letter-spacing: 0.025em;
}