.cta-component {
    padding-block: clamp(3rem, 2.2556vw + 2.4713rem, 4.5rem);
    padding-inline: clamp(1rem, 4.1353vw + .0308rem, 3.75rem);
    background-color: #8277FF;
    border-radius: 0.75rem;
    position: relative;
    text-align: center;

    .cta-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cta-title {
        margin-bottom: clamp(.5rem, .7519vw + .3238rem, 1rem);
    }
    .cta-text {
        margin-bottom: clamp(1.5rem, .7519vw + 1.3238rem, 2rem);
    }
    .cta-graphic-one,.cta-graphic-two {
        position: absolute;
    }
    .cta-graphic-one {
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
    }
    .cta-graphic-two {
        right: 0;
        bottom: 0;
    }

    @media (width < 1160px) {
        .cta-graphic-one,.cta-graphic-two {
            display: none;
        }
    }
}

/* ==============================
   NEWSLETTER FORM
============================== */

.newsletter-form {
    width: 100%;
    max-width: 25.438rem;
    position: relative;

    .newsletter-form-field {
        width: 100%;
        min-height: 3.125rem;
        background-color: var(--clr-bg);
        border-radius: 0.5rem;
        border: none;
        outline: none;
        padding-block: 0.375rem;
        padding-left: 0.875rem;
        padding-right: 32%;
        margin-bottom: 0.75rem;
    }
    .newsletter-btn {
        padding-block: 0.5rem;
        padding-inline: 1.25rem;
        background: var(--clr-primary);
        border: none;
        border-radius: 5px;
        font-weight: 500;
        color: var(--clr-bg);
        position: absolute;
        right: 5px;
        top: 4px;
    }
    .newsletter-consent {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        label {
            color: rgba(255, 255, 255, .72);
        }
        a {
            color: var(--clr-bg);
            text-decoration: underline;
        }
    }
    #newsletter-terms {
        width: 1.525rem;
        height: 1.25rem;
        border-radius: 5px;
    }

    @media (width< 480px) {
        .newsletter-field {
            background-color: var(--clr-bg);
            border-radius: 0.5rem;
            padding: 0.5rem;
            margin-bottom: 0.75rem;
        }
        .newsletter-form-field {
            margin-bottom: 0.5rem;
            background-color: #F4F6FD;
            padding: 0.5rem;
        }
        .newsletter-btn {
            position: relative;
            width: 100%;
            right: 0;
            top: 0;
        }
    }
}