.section-footer {
    padding-top: clamp(2rem, 3.7594vw + 1.1189rem, 4.5rem);
    padding-bottom: 1.25rem;

    .footer-menu-title {
        color: #14151D;
    }

   
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(2rem, 3.7594vw + 1.1189rem, 4.5rem);  
  
  @media (width < 980px) {
    flex-direction: column;
    gap: 3rem;
  }
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    border-top: 1px solid #E5E7F3;
    .footer-text {
        color: var(--clr-primary);
    }
}
.footer-menu-grid {
    grid-template-columns: 1fr 1fr 1fr;

    @media (width< 480px) {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
}
.footer-menu-title {
    margin-bottom: clamp(1rem, .3759vw + .9119rem, 1.25rem);
}
.footer-menu {
    width: 100%;
    min-width: 13.75rem;
    
    .footer-menu-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    @media (width < 980px) {
        min-width: auto;
    }
}
@media (width < 480px) {
    .footer-menu.cc-social {
        grid-column: 1 / span 2;
    }

    .footer-menu-list.cc-social {
        flex-direction: row;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 0.75rem;
        padding-bottom: 0;
    }
}