/*Section Home Hero*/
.section-hero {
    padding-top: clamp(5.75rem, 7.7068vw + 3.9437rem, 10.875rem);

    &.cc-category {
        background-color: var(--clr-bg-light);
    }
}
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: clamp(0rem, 3.0075vw + -.7049rem, 2rem);

    .hero-content-inner {
        text-align: center;
    }
    .hero-title {
        text-transform: uppercase;
    }
    .hero-text {
        color: var(--clr-silver);
        max-width: 52ch;
        margin-top: clamp(.75rem, .7519vw + .5738rem, 1.25rem);
    }

    @media (width < 1080px) {
        .hero-title {
            text-transform: capitalize;
        }
        .hero-graphic {
            display: none;
        }
    }
}
@media (width < 1080px) {
    .hero-content {
        justify-content: center;
    }
}

/*Section Category Hero*/
.category-hero-content {
    .back-link {
        align-items: center;
        gap: 0.5rem;
        color: var(--clr-primary);
        font-size: 1.25rem;
        margin-bottom: clamp(1rem, .7519vw + .8238rem, 1.5rem);
    }
}