/*Section Home Hero*/
.section-hero {
    padding-top: clamp(5.75rem, 7.7068vw + 3.9437rem, 10.875rem);

    &.cc-category {
        background-color: var(--clr-bg-light);
    }
}
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: clamp(0rem, 3.0075vw + -.7049rem, 2rem);

    .hero-content-inner {
        text-align: center;
    }
    .hero-title {
        text-transform: uppercase;
    }
    .hero-text {
        color: var(--clr-silver);
        max-width: 52ch;
        margin-top: clamp(.75rem, .7519vw + .5738rem, 1.25rem);
    }

    @media (width < 1080px) {
        .hero-title {
            text-transform: capitalize;
        }
        .hero-graphic {
            display: none;
        }
    }
}
@media (width < 1080px) {
    .hero-content {
        justify-content: center;
    }
}
/*Section Category Hero*/
.category-hero-content {
    .back-link {
        align-items: center;
        gap: 0.5rem;
        color: var(--clr-primary);
        font-size: 1.25rem;
        margin-bottom: clamp(1rem, .7519vw + .8238rem, 1.5rem);
    }
}
/*Section Author Hero*/
.author-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .author-image {
        outline: 2px solid var(--clr-primary);
        border-radius: 50%;
    }
    .author-bio {
        color: #61636C;
        max-width: 60ch;
        margin-top: clamp(.75rem, .3759vw + .6619rem, 1rem);
    }
    .author-social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
}
/*Section Blog Post Hero*/
.blog-hero-grid {
    gap: 0;
    grid-template-columns: 1fr 1fr;

    @media (width<980px) {
        grid-template-columns: 1fr;
        gap: 2.5rem;

        .blog-hero-image {
            width: 100%;
        }
    }

    @media (width<480px) {
        .blog-hero-image {
            display: none;
        }

    }
}
.blog-hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.blog-post-author {
    align-items: center;
    gap: clamp(.5rem, .7519vw + .3238rem, 1rem);
    margin-top: auto;

    .blog-author-image {
        flex: none;
        border-radius: 0.7rem;
        border: 2px solid var(--clr-primary);
    }

    .blog-author-name {
        font-size: clamp(1.125rem, .5639vw + .9928rem, 1.5rem);
        color: var(--clr-secondary);
        line-height: 1.33;
        font-weight: 500;
    }

    .blog-author-meta {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    @media (width < 480px) {
        .blog-hero-image {
            width: 3rem;
        }
    }
}
.blog-hero-image {
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15);
    aspect-ratio: 620.00/458.11;
}
.divider-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #D2D3DF;
}