/* =====================================================
   1. CSS VARIABLES (DESIGN TOKENS)
===================================================== */

:root {
  /* Colors */
  --clr-primary: #6355FF;
  --clr-secondary: #111111;
  --clr-text: #7E7F8A;
  --clr-text-secondary: #61636C;
  --clr-bg: #ffffff;
  --clr-blue: #797AFF;
  --clr-silver: #7E7F8A;
  --clr-lavender-mist: #E5E7F3;
  --clr-bg-light: #F4F6FD;
  /* Typography */
  --font-base: "Plus Jakarta Sans", system-ui, -apple-system,
               BlinkMacSystemFont, "Segoe UI", sans-serif;

  --font-heading: "ivypresto-display",serif;
  --font-size-base: 1rem;
  --line-height-base: 1.6;

  /* Spacing (8pt system) */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-12: 3rem;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
}